.App {
  background: #ed4264;
  background: -webkit-linear-gradient(to bottom, #ed4264, #ffedbc);
  background: linear-gradient(to bottom, #ed4264, #ffedbc);
  height: 100vh;
}

.hint {
  position:absolute;
  top:0;
  left:0;
  line-height: 0;
}

.banner {
  height: 300px;
  padding-top: 25vh;
  text-align: center;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner > h1 {
  font-size: 20vh;
  line-height: 0vh;
}
